body {
  font-family: Arial;
  background: #f5f6f8;
}

.container {
  padding: 20px;
}

.form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.form input, .form button {
  padding: 8px;
}

.tree ul {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.tree li {
  list-style: none;
  text-align: center;
  padding: 20px 5px 0 5px;
  position: relative;
}

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 2px solid #ccc;
  width: 50%;
  height: 20px;
}

.tree li::after {
  left: 50%;
  border-left: 2px solid #ccc;
}

.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 2px solid #ccc;
  height: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  background: white;
  border-radius: 6px;
  width: 120px;
  margin: auto;
}

.card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 6px;
}